[databricks]
DATABRICKS_HOST = "YOUR_REAL_DATABRICKS_WORKSPACE_URL"
DATABRICKS_CLIENT_ID = "YOUR_REAL_SERVICE_PRINCIPAL_CLIENT_ID"
DATABRICKS_CLIENT_SECRET = "YOUR_REAL_SERVICE_PRINCIPAL_SECRET"

[lakebase]
PGHOST = "YOUR_REAL_LAKEBASE_HOST"
PGPORT = "5432"
PGDATABASE = "databricks_postgres"
PGUSER = "YOUR_REAL_LAKEBASE_POSTGRES_ROLE"
PGSSLMODE = "require"
SHIPP_LAKEBASE_ENDPOINT = "YOUR_REAL_LAKEBASE_ENDPOINT"
SHIPP_LAKEBASE_SCHEMA = "shipp"

[shipp]
SHIPP_DEPLOYMENT_TARGET = "streamlit_cloud"
SHIPP_LLM_ENDPOINT = "YOUR_REAL_AGENT_LLM_ENDPOINT"
SHIPP_SQL_WAREHOUSE_ID = "YOUR_REAL_SQL_WAREHOUSE_ID"
SHIPP_CANDIDATE_MATCHES_TABLE = "bootcamp_students.shipp_gold.gold_candidate_matches"
SHIPP_SEARCH_INDEX = "bootcamp_students.shipp_gold.gold_listing_search_docs_index"
SHIPP_LISTING_IMAGE_VOLUME = "/Volumes/bootcamp_students/shipp_bronze/listing_images"
SHIPP_SHOW_EVIDENCE = "true"